@import './normalize.scss';

* {
  box-sizing: border-box;
}

html {
  color: #333;
}

[v-clock] {
  display: none !important;
}
a {
  color: #2B87D1CC;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #2B87D1;
  }
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c0c4cc;
}
button:focus {
  outline: 0;
}

.base-wrap {
  width: $max-width;
  margin: 0 auto;
}
.form-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
}

.el-tabs {
  .el-tabs__item {
    font-size: 18px;
  }
}
 .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

 .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  text-align: center;
}
.el-image-viewer__mask {
  z-index: 2200;
}